body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
code:hover{
color:lightblue;
}

code:active{
background-color:#fff000;
}
::selection {
  background: #f50057;
  color: #fff000;
}

::-moz-selection {
  background: #f50057;
  color: #ffffff;
opacity:0.8;
}

